<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Test">
	
	<select id="select_list">
		SELECT 
			user_id,
			room_seq,
			user_pwd,
			user_name,
			user_mobile,
			user_email,
			user_gubun,
			graduation_flag,
			in_date,
			in_user_id,
			up_date,
			up_user_id
		from 
			user_info
		where user_id = :1
		
			

	</select>
	
	<select id="select_recomm">
	select 
		user_id 
	from 
		user_info
	where 
		user_gubun != 'a' 
	</select>
	

	
	<select id="select">
		SELECT 
			user_id,
			room_seq,
			user_pwd,
			user_name,
			user_mobile,
			user_email,
			user_gubun,
			graduation_flag,
			in_date,
			in_user_id,
			up_date,
			up_user_id
		from 
			user_info
		where
			in_user_id = :1
			

	</select>
	<!-- ㅇㅇㅇㅇㅇㅇ -->
	<select id="select_name_email">
		SELECT 
			user_id,
			room_seq,
			user_pwd,
			user_name,
			user_mobile,
			user_email,
			user_gubun,
			graduation_flag,
			in_date,
			in_user_id,
			up_date,
			up_user_id
		from 
			user_info
		where
			user_name = :1
			and 
			user_email = :2
			

	</select>
	
	
	
	<select id="select_id_email">
		SELECT 
			user_id,
			room_seq,
			user_pwd,
			user_name,
			user_mobile,
			user_email,
			user_gubun,
			graduation_flag,
			in_date,
			in_user_id,
			up_date,
			up_user_id
		from 
			user_info
		where
			user_id = :1
			and 
			user_email = :2
			

	</select>
	
	
	<select id="select_banjang">
		select 
			user_id,
			count(user_gubun)
		from 
			user_info
		where 
			user_gubun='b' 
			and 
			room_seq=:1
		group by 
			room_seq,user_id
			
	</select>
	
      <select id="select_list_b">
       select 
         room_seq,
         user_name,
         graduation_flag,
         user_gubun
       from 
          user_info
      where 
         user_gubun='b'
      and 
          graduation_flag = 'n'
      order by 1

   </select>

   

   <select id="select_list_detail">
      select 
          room_seq,
          user_name,
          user_id,
          user_gubun,
          graduation_flag,
          in_date,
          in_user_id,
          up_date,
          up_user_id
      from 
         user_info
      where 
         room_seq=:1
       and
          user_gubun='s'
      order by user_name

   </select> 
   
         <update id="update_gflag">
      update 
         user_info 
      set 
         graduation_flag      ='y', 
         up_date         = to_char(sysdate, 'YYYYMMDD.HH24MISS')
         
      where 
         room_seq=:1
         
         
   </update>
   

	
	<select id="select_dupl">
      SELECT 
         user_id
      FROM
         user_info
      WHERE
         USER_ID = :1
   </select>
	
	
	<select id="select_login">
		SELECT 
			user_id,
			room_seq,
			user_pwd,
			user_name,
			user_mobile,
			user_email,
			user_gubun,
			graduation_flag,
			in_date,
			in_user_id,
			up_date,
			up_user_id
		from 
			user_info
		where
			user_id = :1
			and
			user_pwd = :2

	</select>
	
	<update id="insert">
      insert into user_info 
      ( 
         user_id,
         room_seq,
         user_pwd,
         user_name,
         user_mobile,
         user_email,
         user_gubun,
         graduation_flag,
         in_date,
         in_user_id,
         up_date,
         up_user_id
      ) 
      values
      (
         :1, 
         :2, 
         :3, 
         :4, 
         :5, 
         :6, 
         :7, 
         :8, 
         to_char(sysdate, 'YYYYMMDD.HH24MISS'), 
         :9, 
         to_char(sysdate, 'YYYYMMDD.HH24MISS'), 
         :10
      )
   </update>

	<update id="update">
		update 
			user_info 
		set 
			user_name		=:1, 
			user_mobile		=:2, 
			user_gubun		=:3, 
			user_email		=:4, 
			up_date			= to_char(sysdate, 'YYYYMMDD.HH24MISS')
		where 
			user_id=:5
			
			
	</update>
	

   
	<update id="delete">
		delete from user_info where survey_id = :1
	</update>
	
	
	
	
	
	
	
	
	
	
	
	<select id="myselect_gubun">
	select user_gubun
	from user_info 
	where user_id =:1
	</select>
	
	
	
<!-- 	상빈 카카오로그인 -->
	<update id="kakao_merge">
		MERGE INTO member
		   USING dual
		   on ( user_id = :1 )
		   WHEN MATCHED THEN
		   UPDATE SET
	          user_name    = :2,
		      up_date      = to_char(sysdate, 'YYYYMMDD.HH24MISS'), 
		      up_user_id   = :3
		   WHEN NOT MATCHED THEN
		      insert (
					room_seq,
					user_pwd,
					user_mobile,
					user_email,
					user_gubun,
					graduation_flag,
					in_date,
					in_user_id,
		      ) 
		      values 
		      (
		            :4,
		            :5,
		            :6,
		            's',
		            'n', 
       	            to_char(sysdate, 'YYYYMMDD.HH24MISS'), 
		            :7
		      )
   </update>
	
	
	
	
	
</mapper>