{% extends 'web/layout.html' %}

{% block content %}
<script>
    function del_images() {
        $('input[name=logo_path]').val('');
        $('input[name=logo_file]').val('');
        $('#logo_image').html('<input type="file" name="logo" class="form-control-file border" required>');
    }
    
    function getaddress() {
        $.ajax({
            url: 'https://dapi.kakao.com/v2/local/search/address.json?query=' + encodeURIComponent($('#add1').val()) + '&size=30',
            type: 'GET',
            headers: {'Authorization': 'KakaoAK 26a57e202a118708213a612eee4232fa'},
            success: function (data) {
                if (data.documents.length === 0) {
                    let res = '    <div class="card col-12">\n'
                    res += '        <div class="card-body">\n'
                    res += '            검색된 주소가 없습니다.\n'
                    res += '       </div>\n'
                    res += '    </div>\n'
                    $('#result').html(res)
                } else {
                    let res = ''
                    res += '<div class="card col-12">'
                    res += '    <ul class="list-group list-group-flush">'
                    for (let i = 0; i < data.documents.length; i++) {
                        res += '        <li id="kakaoadd' + i + '" class="list-group-item" onclick="select_address(\'kakaoadd' + i + '\')">' + data.documents[i].address_name + '</li>'
                    }
                    res += '    </ul>'
                    res += '</div>'
                    $('#result').html(res);
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function select_address(kakaoadd_id) {
        $('input[name=owner_add1]').val($('#'+kakaoadd_id).html());
        $('#AddSearchModal').modal('hide');
    }
    
    
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            html: true,
            content: function () {
                return '<img class="img-fluid" src="' + $(this).data('img') + '" />';
            }
        });
    });

    
    $(function () {
        $('input[name=owner_pwd]').keyup(function () {
            if (pw_check()) {
                $('input[name=owner_pwd]').next().removeClass('badge-danger').html('조건을 만족합니다.').addClass('badge-success');
            } else {
                $('input[name=owner_pwd]').next().removeClass('badge-success').html('비밀번호는 영문자, 숫자, 특수문자를 포함한 8 ~ 15자리여야 합니다.').addClass('badge-danger');
            }
        }).focusout(function () {
            if (pw_check()) {
                $('input[name=owner_pwd]').next().html('');
            }
        });

        $('input[name=owner_pwd_check]').keyup(function () {
            if (pw_double_check()) {
                $('input[name=owner_pwd_check]').next().removeClass('badge-danger').html('비밀번호가 일치합니다.').addClass('badge-success');
            } else {
                $('input[name=owner_pwd_check]').next().removeClass('badge-success').html('비밀번호가 일치하지 않습니다.').addClass('badge-danger');
            }
        }).focusout(function () {
            if (pw_double_check()) {
                $('input[name=owner_pwd_check]').next().html('');
            }
        });
        
        $('input[name=owner_str_tel]').keyup(function () {
            if (str_tel_check()) {
                $('input[name=owner_str_tel]').next().removeClass('badge-danger').html('사용할 수 있는 전화번호입니다.').addClass('badge-success');
            } else {
                $('input[name=owner_str_tel]').next().removeClass('badge-success').html('사용할 수 없는 전화번호입니다.').addClass('badge-danger');
            }
        }).focusout(function () {
            if (str_tel_check()) {
                $('input[name=owner_str_tel]').next().html('');
            }
        });
        

        $('input').keyup(function () {
            field_fill_check();
        }).focusout(function () {
            field_fill_check();
        });
    });

        function pw_check() {
            const regPwd = /^.*(?=^.{8,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;
            return regPwd.test($('input[name=owner_pwd]').val())
        }

        function pw_double_check() {
            return $('input[name=owner_pwd]').val() === $('input[name=owner_pwd_check]').val()
        }
        
        function str_tel_check() {
            const regTel = /^\d{2,3}-\d{3,4}-\d{4}$/;
            return regTel.test($('input[name=owner_str_tel]').val())
        }
        
        function field_fill_check() {
            if (pw_check()
                && pw_double_check()
                && str_tel_check()){
                $('#submit').attr('disabled', false);
            } else {
                $('#submit').attr('disabled', true);
            }
        }
        
    
</script>

<!-- Begin Page Content -->
<div class="container">
    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-dark">정보 수정</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <form class="user" action="account_mod_form" method="post" enctype="multipart/form-data">
                        {% if owner.logo_file %}
                        <input type="hidden" name="logo_path" value="{{owner.logo_path}}">
                        <input type="hidden" name="logo_file" value="{{owner.logo_file}}">
                        {% else %}
                        <input type="hidden" name="logo_path" value="">
                        <input type="hidden" name="logo_file" value="">
                        {% endif %}
                        <div class="form-group">
                            <input type="text" class="form-control form-control-user" name="owner_name" placeholder="이름" value="{{owner.owner_name}}" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" name="owner_id" placeholder="아이디 ( 이메일 )" value="{{owner.owner_id}}" readonly required>
                        </div>
                        <div class="form-group row">
            	            <div class="col-sm-6 mb-3 mb-sm-0">
                	            <input type="password" class="form-control form-control-user" name="owner_pwd" placeholder="비밀번호"  value="{{owner.owner_pwd}}" >
                    	        <span class="badge badge-pill"></span>
                        	</div>
                        	<div class="col-sm-6">
                            	<input type="password" class="form-control form-control-user" name="owner_pwd_check" placeholder="비밀번호 확인" value="{{owner.owner_pwd}}">
                            	<span class="badge badge-pill"></span>
                        	</div>
                        </div>
                        <hr>

                        <div class="form-group">
                            <input type="text" name="owner_str_name" class="form-control form-control-user" placeholder="상호명" value="{{owner.owner_str_name}}" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="owner_str_num" class="form-control form-control-user" placeholder="사업자등록번호 또는 가맹점번호" value="{{owner.owner_str_num}}" readonly required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="owner_str_tel" class="form-control form-control-user" placeholder="가게전화번호" value="{{owner.owner_str_tel}}" required>
                            <span class="badge badge-pill"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <p align="center">회사 로고 지정</p>
                            </div>
                            <div class="col-8" id="logo_image">
                                {% if owner.logo_file %}
                                <p>
                                	<img src="downloads?path=uploads/img&file=img.svg" alt="img" width="25px" height="auto" data-toggle="popover" data-img="downloads?path={{owner.logo_path}}&file={{owner.logo_file}}" data-placement="left">
                                    
                                    <a href="javascript:del_images()">×</a>
                                </p>
                                <input type="file" name="logo" class="form-control-file border invisible">
                                {% else %}
                                <input type="file" name="logo" class="form-control-file border" required>
                                {% endif %}
                            </div>
                        </div>

                        <hr>
                        <div class="form-group row">
                            <div class="col-8">
                                <input type="text" name="owner_add1" class="form-control form-control-user" placeholder="주소" value="{{owner.owner_add1}}" readonly required>
                            </div>
                            <div class="col-4">
                                <button data-toggle="modal" data-target="#AddSearchModal" type="button" class="btn btn-primary btn-user">주소검색</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-8">
                                <input type="text" name="owner_add2" class="form-control form-control-user" placeholder="상세주소" value="{{owner.owner_add2}}" required required>
                            </div>
                        </div>
                        <button type="submit" id="submit" class="btn btn-primary btn-user btn-block">수정</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- address search Modal-->
<div class="modal fade" id="AddSearchModal" tabindex="-1" role="dialog" aria-labelledby="AddSearchModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">우편번호 검색</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                찾고자 하는 동을 입력하세요.
                <input type="text" id="add1">
                <input type="button" value="검색" onclick="getaddress()">
                <div id="result" class="row">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of address modify Modal-->


{% endblock %}
   