<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경 성공</title>
    <link rel="stylesheet" href="lib/bootstrap/4.6.0/css/bootstrap.min.css">
    <link href="lib/SB-Admin-2/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="lib/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <script src="lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="lib/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="lib/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="lib/Chart.js/3.1.0/chart.min.js"></script>
    <script src="lib/SB-Admin-2/js/sb-admin-2.min.js"></script>
</head>
<body>
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image" style="background-image: url('downloads?path=uploads&file=logo_color_motified.jpeg')"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">임시 비밀번호가 발급되었습니다.</h1>
                                    <p class="mb-4">발급된 비밀번호를 확인 후 로그인하세요.</p>
                                </div>
                                <a href="login.html" class="btn btn-primary btn-user btn-block">
                                    로그인 페이지로
                                </a>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="register.html">회원가입!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>